<%= form_with(model: contact_organization) do |form| %>
  <% if contact_organization.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact_organization.errors.count, "error") %> prohibited this contact_organization from being saved:</h2>

      <ul>
        <% contact_organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contact_organization_id, style: "display: block" %>
    <%= form.number_field :contact_organization_id %>
  </div>

  <div>
    <%= form.label :contact_id, style: "display: block" %>
    <%= form.number_field :contact_id %>
  </div>

  <div>
    <%= form.label :organization_id, style: "display: block" %>
    <%= form.number_field :organization_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
