<div id="<%= dom_id application %>">
  <p>
    <strong>ApplicationID:</strong>
    <%= application.applicationID %>
  </p>

  <p>
    <strong>OrgID:</strong>
    <%= application.orgID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= application.name %>
  </p>

  <p>
    <strong>Date Built:</strong>
    <%= application.datebuilt %>
  </p>

  <p>
    <strong>Github Link:</strong>
    <%= application.githublink %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application.description %>
  </p>

</div>
