<div id="<%= dom_id application %>">
  <p>
    <strong>Applicationid:</strong>
    <%= application.application_id %>
  </p>

  <p>
    <strong>Organizationid:</strong>
    <%= application.organization_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= application.name %>
  </p>

  <p>
    <strong>Date Built:</strong>
    <%= application.date_built %>
  </p>

  <p>
    <strong>Github Link:</strong>
    <%= application.github_link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application.description %>
  </p>

</div>
