

<table>
    <thead class="bg-gray-800 text-white">
        <tr>
            
            <th>
                Exclude
            </th>
            <th>
                Application Name
            </th>
            <th>
                Contact Name
            </th>
            <th>
                Contact Email
            </th>
            <th>
                Officer Position
            </th>
            <th>
                Github Link
            </th>
            <th>
                Notes
            </th>
            <th>
                <div>
                    Start Date
                </div>
                <div>
                    End Date
                </div>
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-left py-3 px-6">
                Include All
            </td>
            <td>
                <div id="app_name_search" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :app_name,
                        placeholder: "App Name",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_name_search" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :contact_name,
                        placeholder: "Contact Name",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_email_search" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :contact_email,
                        placeholder: "Email",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_officer_position_search" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :officer_position,
                        placeholder: "Officer Position",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="github_link_position_search" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :github_link,
                        placeholder: "Github Link",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_date_start" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :date_start,
                        placeholder: "Start Date",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
                <div id="contact_date_end" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :date_end,
                        placeholder: "End Date",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="application_note" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :description,
                        placeholder: "Notes",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="cat_name" class="flex justify-end mb-1">
                    <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                        <%= form.text_field :cat_name,
                        placeholder: "Category",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>            
        </tr>
    </tbody>
</table>

<div class="create-new">
<%= form_tag add_table_entry_applications_path, method: :post do %>
    <%= label_tag :app_name, "Enter Application Name:" ,class: "create-new-item" %>
    <%= text_field_tag :app_name, params[:app_name] %>
    
    <%= label_tag :contact_name, "Enter Contact Name:",class: "create-new-item"  %>
    <%= text_field_tag :contact_name, params[:contact_name] %>

    <%= label_tag :contact_email, "Enter Contact Email:",class: "create-new-item"  %>
    <%= text_field_tag :contact_email, params[:contact_email] %>

    <%= label_tag :officer_position, "Enter Officer Position:" ,class: "create-new-item" %>
    <%= text_field_tag :officer_position, params[:officer_position] %>

    <%= label_tag :github_link, "Enter Github Link:" ,class: "create-new-item" %>
    <%= text_field_tag :github_link, params[:github_link] %>

    <%= label_tag :notes, "Enter Notes:" ,class: "create-new-item" %>
    <%= text_field_tag :notes, params[:notes] %>

    <%= label_tag :category, "Enter Category:" ,class: "create-new-item" %>
    <%= text_field_tag :category, params[:category] %>
    
    <%= submit_tag "Add New Org", class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium"%>
<% end %>
</div>

</br>
<%= turbo_frame_tag "applications", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>
    <table class="min-w-full">
        <thead class="bg-gray-800 text-white">
        <tr>
            <th id="exclude" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
            <%= sort_link_app(column: "applications.name", label: "Exclude", org_id: org_id) %>

            </th>

            <th id="application-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "applications.name" %>
                <%= sort_link_app(column: "applications.name", label: "Application Developed", org_id: org_id) %>
            </th>

            <th id="contact-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.name" %>
                <%= sort_link_app(column: "contacts.name", label: "Contact Name", org_id: org_id) %>
            </th>
    
            <th id="contact-email" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.email" %>
                <%= sort_link_app(column: "contacts.email", label: "Contact Email", org_id: org_id) %>
            </th>

            <th id="contact-officer_position" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.officer_position" %>
                <%= sort_link_app(column: "contacts.officer_position", label: "Officer Position", org_id: org_id) %>
            </th>

            <th id="contact-year" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-e2pointer">
                <%= sort_indicator if params[:column] == "contacts.github_link" %>
                <%= sort_link_app(column: "applications.github_link", label: "Github Link", org_id: org_id) %>
            </th>
            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.year" %>
                <%= sort_link_app(column: "contacts.year", label: "Year Developed", org_id: org_id) %>
            </th>
            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "applications.description" %>
                <%= sort_link_app(column: "applications.description", label: "Notes", org_id: org_id) %>
            </th>
            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "cat_name" %>
                <%= sort_link_app(column: "cat_name", label: "Category", org_id: org_id) %>
            </th>
        </tr>
        </thead>

        <tbody class="text-gray-700">
        <tr>
            <td class="text-left py-3 px-6">
                Include All
            </td>
        </tr>
        <% if apps.ntuples == 0 %>
        <% end %>
        <% apps.each do |app| %>
            <tr>
            <td class="text-left py-3 px-6"><%= "checkbox" %></td>
            <td class="text-left py-3 px-6"><%= app['app_name'] %></td>
            <td class="text-left py-3 px-6"><%= app['contact_name'] %></td>
            <td class="text-left py-3 px-6"><%= app['email'] %></td>
            <td class="text-left py-3 px-6"><%= app['officer_position'] %></td>
            <td class="text-left py-3 px-6"><%= app['github_link'] %></td>
            <td class="text-left py-3 px-6"><%= app['year'] %></td>
            <td class="text-left py-3 px-6"><%= app['description'] %></td>
            <td class="text-left py-3 px-6"><%= app['cat_name'] %></td>
            <!-- ... -->
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>