<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<nav class="bg-tamuMaroon nonstickynav">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between max-h-nav">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= button_to "Update Site", scrape_organizations_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
            <div class="dropdown bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium">
              <button class="dropbtn">Delete All</button>
              <div class="dropdown-content class: bg-tamuButton text-white rounded-md px-4 py-2 text-lg font-medium">
                <p>Are you sure, this will delete everything?</p>
                <%= button_to "Confirm", delete_organizations_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
              </div>
            </div>   
            <%= link_to "Download Page", organizations_path(format: :xlsx),  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium ll" %>
            <%= link_to "Help", "/help",  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium ll" %>
            <%= link_to "Log Out", destroy_admin_session_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium ll" %>
            <div class="dropdown bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium">
            <button class="dropbtn">Additional Tables</button>
            <div class="dropdown-content class: bg-tamuButton text-white rounded-md px-4 py-2 text-lg font-medium">
              <%= link_to "Organizations", organizations_path,  class: "bg-tamuButton text-white rounded-md px-4 py-4 text-lg font-medium" %>
              <%= link_to "Applications", applications_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
            </div>
            </div>
            <h1 class="navlabelorg">Applications</h1>
            <a class="navbar-brand" href="https://brandguide.tamu.edu/assets/img/logos/tam-logo-white.png">
              <div class="logo-image3">
                    <img src="https://brandguide.tamu.edu/assets/img/logos/tam-logo-white.png" class="img-fluid">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="navpadding"></br></div>
</br>
</br>
<table>
    <thead class="bg-gray-800 text-white">
        <tr>
            <h1> Filter and Search </h1>
            <th>
                Exclude
            </th>
            <% if @displayed_columns.include?("Application Developed") then %>
                <th>
                    Application Name
                </th>
            <% end %>
            <% if @displayed_columns.include?("Contact Name") then %>
                <th>
                    Contact Name
                </th>
            <% end %>
            <% if @displayed_columns.include?("Contact Email") then %>
                <th>
                    Contact Email
                </th>
            <% end %>
            <% if @displayed_columns.include?("Officer Position") then %>
                <th>
                    Officer Position
                </th>
            <% end %>
            <% if @displayed_columns.include?("Github Link") then %>
                <th>
                    Github Link
                </th>
            <% end %>
            <% if @displayed_columns.include?("Year Developed") then %>
                <th>
                    <div>
                        Start Date
                    </div>
                    <div>
                        End Date
                    </div>
                </th>
            <% end %>
            <% if @displayed_columns.include?("Notes") then %>
                <th>
                    Notes
                </th>
            <% end %>
            <% if @displayed_columns.include?("Category") then %>
                <th>
                    Category
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-left py-3 px-6">
                <%= button_to "Include All", applications_path, params: { :commit => "Include All" }, method: :get %>
            </td>
            <% if @displayed_columns.include?("Application Developed") then %>
                <td>
                    <div id="app_name_search" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :app_name,
                            placeholder: "App Name",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'app_name')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Contact Name") then %>
                <td>
                    <div id="contact_name_search" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :contact_name,
                            placeholder: "Contact Name",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'contact_name')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Contact Email") then %>
                <td>
                    <div id="contact_email_search" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :contact_email,
                            placeholder: "Email",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'contact_email')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Officer Position") then %>
                <td>
                    <div id="contact_officer_position_search" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :officer_position,
                            placeholder: "Officer Position",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'officer_position')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Github Link") then %>
                <td>
                    <div id="github_link_position_search" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :github_link,
                            placeholder: "Github Link",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'github_link')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Year Developed") then %>
                <td>
                    <div id="contact_date_start" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :date_start,
                            placeholder: "Start Date",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'date_start')
                            %>
                        <% end %>
                    </div>
                    <div id="contact_date_end" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :date_end,
                            placeholder: "End Date",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'date_end')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Notes") then %>
                <td>
                    <div id="application_note" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :description,
                            placeholder: "Notes",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'description')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Category") then %>
                <td>
                    <div id="cat_name" class="flex justify-end mb-1">
                        <%= form_with url: list_applications_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :cat_name,
                            placeholder: "Category",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" },
                            value: check_app_session_exists(session['filters'], 'cat_name')
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>        
        </tr>
    </tbody>
</table>



<h1>Check which columns to include. All columns are included by default.</h1>
<div class="create-new2">
<%= form_tag display_columns_applications_path, method: :post do %>
    <% @columns.each do |column| %>
      <div class="form-check form-switch">
        <%= check_box_tag "columns[]", column, @displayed_columns.include?(column), class: "form-check-input", id: "column-#{column}" %>
        <%= label_tag "column-#{column}", column, class: "form-check-label" %>
      </div>
    <% end %>
    <%= submit_tag "Save Excluded Columns", class: "btn btn-primary bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
<% end %>
  </div>
<div class="paddiv"></div>
<div class="create-new">
<h1> Add Application </h1>
<%= form_tag add_table_entry_applications_path(organization_id: org_id), method: :post do %>
    <%= label_tag :app_name, "Enter Application Name:" ,class: "create-new-item" %>
    <%= text_field_tag :app_name, params[:app_name] %>
    
    <%= label_tag :contact_name, "Enter Contact Name:",class: "create-new-item"  %>
    <%= text_field_tag :contact_name, params[:contact_name] %>
    <%= label_tag :contact_email, "Enter Contact Email:",class: "create-new-item"  %>
    <%= text_field_tag :contact_email, params[:contact_email] %>
    <%= label_tag :officer_position, "Enter Officer Position:" ,class: "create-new-item" %>
    <%= text_field_tag :officer_position, params[:officer_position] %>
    </br>
    </br>
    <%= label_tag :github_link, "Enter Github Link:" ,class: "create-new-item" %>
    <%= text_field_tag :github_link, params[:github_link] %>
    <%= label_tag :date_built, "Enter Date Built:" ,class: "create-new-item" %>
    <%= date_field_tag :date_built, params[:date_built] %>
    <%= label_tag :notes, "Enter Notes:" ,class: "create-new-item" %>
    <%= text_field_tag :notes, params[:notes] %>
    <%= label_tag :category, "Enter Category:" ,class: "create-new-item" %>
    <%= text_field_tag :category, params[:category] %>
    
    <%= submit_tag "Add New App", class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium"%>

    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>
<% end %>
</div>
<div class="paddiv"></div>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% elsif @displayed_columns.empty? %>
  <p>No columns selected.</p>
<% else %>
    <button class="btn btn-dark btn-lg showbutton" onclick="swapTable()">Change exclude view</button>
    <%= form_tag applications_path, method: :get, id: "application-form" do %>
        <div class="showbutton">
        <%= submit_tag "Exclude Selected App(s)" %>
            </div>
         </br>
        <%= turbo_frame_tag "applications", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>
            <table class="min-w-full" id="non-exclude-items" style="display:block">
                <thead class="bg-gray-800 text-white" id="myHeader">
                    <tr>
                        <th id="exclude" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Exclude
                        </th>

                        <% if @displayed_columns.include?("Application Developed") then %>
                            <th id="application-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "applications.name" %>
                                <%= sort_link_app(column: "applications.name", label: "Application Developed", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Contact Name") then %>
                            <th id="contact-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.name" %>
                                <%= sort_link_app(column: "contacts.name", label: "Contact Name", org_id: org_id) %>
                            </th>
                        <% end %>
                
                        <% if @displayed_columns.include?("Contact Email") then %>
                            <th id="contact-email" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.email" %>
                                <%= sort_link_app(column: "contacts.email", label: "Contact Email", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Officer Position") then %>
                            <th id="contact-officer_position" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.officer_position" %>
                                <%= sort_link_app(column: "contacts.officer_position", label: "Officer Position", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Github Link") then %>
                            <th id="contact-year" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-e2pointer">
                                <%= sort_indicator if params[:column] == "contacts.github_link" %>
                                <%= sort_link_app(column: "applications.github_link", label: "Github Link", org_id: org_id) %>
                            </th>
                        <% end %>
                        
                        <% if @displayed_columns.include?("Year Developed") then %>
                            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.year" %>
                                <%= sort_link_app(column: "contacts.year", label: "Year Developed", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Notes") then %>
                            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "applications.description" %>
                                <%= sort_link_app(column: "applications.description", label: "Notes", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Category") then %>
                            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "cat_name" %>
                                <%= sort_link_app(column: "cat_name", label: "Category", org_id: org_id) %>
                            </th>
                        <% end %>
                        <th id="delete" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Delete
                        </th>
                        <th id="edit" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Edit
                        </th>
                    </tr>
                </thead>

                <tbody class="text-gray-700">
                    <% apps.each do |app| %>
                        <% if !check_app_param(app['application_id']) %>
                            <% if $app_not_filtered_out and !$app_not_filtered_out.include?(app['application_id']) %>
                                <% $app_not_filtered_out.delete(app['application_id']) %>
                            <% end %>
                            <tr>
                                <td class="text-left py-3 px-6"><%= check_box_tag "applications_ids[]", app['application_id'], check_app_param(app['application_id']), class: "exclude-checkbox" %></td>
                                    <% @displayed_columns.each do |column| %>
                                        <% case column %>
                                        <% when "Application Developed" %>
                                            <td id="app_name<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['app_name'] %></td>
                                        <% when "Contact Name" %>
                                            <td id="con_name<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['contact_name'] %></td>
                                        <% when "Contact Email" %>
                                            <td id="con_email<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['email'] %></td>
                                        <% when "Officer Position" %>
                                            <td id="officer_position<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['officer_position'] %></td>
                                        <% when "Github Link" %>
                                            <td id="github_link<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['github_link'] %></td>
                                        <% when "Year Developed" %>
                                            <td id="year<%=app['application_id']%>", class="text-left py-3 px-6"><%= app['year'] %></td>
                                        <% when "Notes" %>
                                            <td id="notes<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['description'] %></td>
                                        <% when "Category" %>
                                            <td id="category<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['cat_name'] %></td>
                                        <% end %>
                                    <% end %>
                                    <td class="text-left py-3 px-6">
                                        <a href="javascript:showhide('confirmation<%=app['application_id']%>')">
                                            Delete
                                        </a>
                                        <div id="confirmation<%=app['application_id']%>" style="display:none;">
                                            <p> Are you sure? </p>
                                            <br/> 
                                            <a href="javascript:showhide('confirmation<%=app['application_id']%>')" class="btn btn-primary bg-tamuButton text-white rounded-md px-2 py-2 confbtn">
                                                Cancel
                                            </a>
                                            <%= link_to "Confirm", delete_row_applications_path(application_id: app['application_id'], contact_id: app['contact_id'], contact_organization_id: app['contact_organization_id'], application_category_id: app['app_cat_id']), class: "btn btn-primary bg-tamuButton text-white rounded-md px-2 py-2 confbtn" %>
                                        </div>
                                    </td>
                                    <td class="text-left py-3 px-6">
                                        <button onclick="printSingleRow(<%=app['application_id']%>, <%=app['category_id']%>, <%=app['contact_id']%>)">Save</button>
                                    </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            <div class="navpadding">.</div>
            <table class="min-w-full" id="exclude-items" style="display:none">
                <thead class="bg-gray-800 text-white" id="myHeader2">
                    <tr>
                        <th id="exclude" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Exclude
                        </th>

                        <% if @displayed_columns.include?("Application Developed") then %>
                            <th id="application-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "applications.name" %>
                                <%= sort_link_app(column: "applications.name", label: "Application Developed", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Contact Name") then %>
                            <th id="contact-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.name" %>
                                <%= sort_link_app(column: "contacts.name", label: "Contact Name", org_id: org_id) %>
                            </th>
                        <% end %>
                
                        <% if @displayed_columns.include?("Contact Email") then %>
                            <th id="contact-email" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.email" %>
                                <%= sort_link_app(column: "contacts.email", label: "Contact Email", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Officer Position") then %>
                            <th id="contact-officer_position" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.officer_position" %>
                                <%= sort_link_app(column: "contacts.officer_position", label: "Officer Position", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Github Link") then %>
                            <th id="contact-year" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-e2pointer">
                                <%= sort_indicator if params[:column] == "contacts.github_link" %>
                                <%= sort_link_app(column: "applications.github_link", label: "Github Link", org_id: org_id) %>
                            </th>
                        <% end %>
                        
                        <% if @displayed_columns.include?("Year Developed") then %>
                            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.year" %>
                                <%= sort_link_app(column: "contacts.year", label: "Year Developed", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Notes") then %>
                            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "applications.description" %>
                                <%= sort_link_app(column: "applications.description", label: "Notes", org_id: org_id) %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Category") then %>
                            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "cat_name" %>
                                <%= sort_link_app(column: "cat_name", label: "Category", org_id: org_id) %>
                            </th>
                        <% end %>
                        <th id="delete" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Delete
                        </th>
                        <th id="edit" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Edit
                        </th>
                    </tr>
                </thead>

                <tbody class="text-gray-700">
                    <% apps.each do |app| %>
                        <% if check_app_param(app['application_id']) %>
                            <% if $app_not_filtered_out and $app_not_filtered_out.include?(app['application_id']) %>
                                <% $app_not_filtered_out.delete(app['application_id']) %>
                            <% end %>
                            <tr>
                                <td class="text-left py-3 px-6"><%= check_box_tag "applications_ids[]", app['application_id'], check_app_param(app['application_id']), class: "exclude-checkbox" %></td>
                                    <% @displayed_columns.each do |column| %>
                                        <% case column %>
                                        <% when "Application Developed" %>
                                            <td id="app_name<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['app_name'] %></td>
                                        <% when "Contact Name" %>
                                            <td id="con_name<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['contact_name'] %></td>
                                        <% when "Contact Email" %>
                                            <td id="con_email<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['email'] %></td>
                                        <% when "Officer Position" %>
                                            <td id="officer_position<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['officer_position'] %></td>
                                        <% when "Github Link" %>
                                            <td id="github_link<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['github_link'] %></td>
                                        <% when "Year Developed" %>
                                            <td id="year<%=app['application_id']%>", class="text-left py-3 px-6"><%= app['year'] %></td>
                                        <% when "Notes" %>
                                            <td id="notes<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['description'] %></td>
                                        <% when "Category" %>
                                            <td id="category<%=app['application_id']%>", class="text-left py-3 px-6", contenteditable='true'><%= app['cat_name'] %></td>
                                        <% end %>
                                    <% end %>
                                    <td class="text-left py-3 px-6">
                                        <a href="javascript:showhide('confirmation<%=app['application_id']%>')">
                                            Delete
                                        </a>
                                        <div id="confirmation<%=app['application_id']%>" style="display:none;">
                                            <p> Are you sure? </p>
                                            <br/> 
                                            <%= link_to "Confirm", delete_row_applications_path(application_id: app['application_id'], contact_id: app['contact_id'], contact_organization_id: app['contact_organization_id'], application_category_id: app['app_cat_id']), class: "btn btn-primary bg-tamuButton text-white rounded-md px-2 py-2 confbtn" %>
                                            <a href="javascript:showhide('confirmation<%=app['application_id']%>')" class="btn btn-primary bg-tamuButton text-white rounded-md px-2 py-2 confbtn">
                                                Cancel
                                            </a>
                                        </div>
                                    </td>                                    
                                    <td class="text-left py-3 px-6">
                                        <button onclick="printSingleRow(<%=app['application_id']%>, <%=app['category_id']%>, <%=app['contact_id']%>)">Edit</button>
                                    </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    <% end %>
<% end %>

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
    }

    function swapTable() {
        var tableNonExclude = document.getElementById("non-exclude-items")
        var tableExclude = document.getElementById("exclude-items")
        if (tableNonExclude.style.display === "block") {
            tableNonExclude.style.display = "none";
            tableExclude.style.display = "block";
        } else {
            tableNonExclude.style.display = "block";
            tableExclude.style.display = "none";
        }
    }

    function printSingleRow(application_id, category_id, contact_id) {


        var app_name = document.getElementById("app_name"+application_id).innerHTML;
        var github_link = document.getElementById("github_link"+application_id).innerHTML;
        var description = document.getElementById("notes"+application_id).innerHTML;
        var category_name = document.getElementById("category"+application_id).innerHTML;

        var contact_name = document.getElementById("con_name"+application_id).innerHTML;
        var contact_email = document.getElementById("con_email"+application_id).innerHTML;
        var officer_position = document.getElementById("officer_position"+application_id).innerHTML;

        console.log('' + application_id + ' ' + category_id + " " + contact_id)

        
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/applications/edit_row?app_id="+application_id+"&contact_id="+contact_id+"&category_id="+category_id+"&contact_name="+contact_name+"&contact_email="+contact_email+"&officer_position="+officer_position+"&app_name="+app_name+"&github_link="+github_link+"&description="+description+"&category_name="+category_name);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function() {
        if (xhr.status === 200) {
            // Handle successful response here
        } else {
            // Handle error response here
        }
        };
        xhr.send();
    }

    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
    }
  
          // When the user scrolls the page, execute myFunction
    window.onscroll = function() {tableStick()};

    // Get the header
    var header = document.getElementById("myHeader");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function tableStick() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky2");
      } else {
        header.classList.remove("sticky2");
      }
    } 
  
            // When the user scrolls the page, execute myFunction
    window.onscroll = function() {tableStick2()};

    // Get the header
    var header2 = document.getElementById("myHeader2");

    // Get the offset position of the navbar
    var sticky2 = header2.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function tableStick2() {
      if (window.pageYOffset > sticky2) {
        header.classList.add("sticky2");
      } else {
        header.classList.remove("sticky2");
      }
    } 



</script>

