<%= turbo_frame_tag "applications", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>

    <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
        <tr>
            <th id="exclude" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "organizations.name" %>
                <%= sort_link(column: "organizations.name", label: "Exclude") %>
            </th>

            <th id="organization-organization_name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "organizations.name" %>
                <%= sort_link(column: "organizations.name", label: "Application Developed") %>
            </th>

            <th id="contact-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.name" %>
                <%= sort_link(column: "contacts.name", label: "Contact Name") %>
            </th>
    
            <th id="contact-email" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.email" %>
                <%= sort_link(column: "contacts.email", label: "Contact Email") %>
            </th>

            <th id="contact-officer_position" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.officer_position" %>
                <%= sort_link(column: "contacts.officer_position", label: "Officer Position") %>
            </th>

            <th id="contact-year" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.year" %>
                <%= sort_link(column: "contacts.year", label: "Github Link") %>
            </th>
            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "applications_count" %>
                <%= sort_link(column: "applications_count", label: "Year Developed") %>
            </th>
            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "applications_count" %>
                <%= sort_link(column: "applications_count", label: "Notes") %>
            </th>
            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "applications_count" %>
                <%= sort_link(column: "applications_count", label: "Category") %>
            </th>
        </tr>
        </thead>

        <tbody class="text-gray-700">
        <tr>
            <td class="text-left py-3 px-6">
                <div id="org_name_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                    <%= form.text_field :name,
                    placeholder: "Search by exclude?",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="org_name_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                    <%= form.text_field :name,
                    placeholder: "Search by organization",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="contact_name_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "contacts" } do |form| %>
                    <%= form.text_field :name,
                    placeholder: "Search by name",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="contact_email_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "contacts" } do |form| %>
                    <%= form.text_field :email,
                    placeholder: "Search by email",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="officer_position_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "contacts" } do |form| %>
                    <%= form.text_field :officer_position,
                    placeholder: "Search by officer position",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="last_modified_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "contacts" } do |form| %>
                    <%= form.text_field :year,
                    placeholder: "Search by last modified",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="number_apps_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                    <%= form.text_field :name,
                    placeholder: "Search by organization",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="number_apps_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                    <%= form.text_field :name,
                    placeholder: "Search by organization",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
            <td class="text-left py-3 px-6">
                <div id="number_apps_search" class="flex justify-end mb-1">
                <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                    <%= form.text_field :name,
                    placeholder: "Search by organization",
                    class: "border border-blue-500 rounded p-2",
                    autocomplete: "off",
                    data: { action: "input->search-form#search" }
                    %>
                <% end %>
                </div>
            </td>
        </tr>
        <% apps.each do |app| %>
            <tr>
            <td class="text-left py-3 px-6"><%= check_box 'param_name', 'excludeOrg', {:id => "param_name"}, 1, 0 %></td>
            <td class="text-left py-3 px-6"><%= app['app_name'] %></td>
            <td class="text-left py-3 px-6"><%= app['contact_name'] %></td>
            <td class="text-left py-3 px-6"><%= app['email'] %></td>
            <td class="text-left py-3 px-6"><%= app['officer_position'] %></td>
            <td class="text-left py-3 px-6"><%= app['github_link'] %></td>
            <td class="text-left py-3 px-6"><%= app['year'] %></td>
            <td class="text-left py-3 px-6"><%= app['description'] %></td>
            <td class="text-left py-3 px-6"><%= 'FIX ME' %></td>
            <!-- ... -->
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>