<p style="color: green"><%= notice %></p>

<h1>Applications</h1>

<%= link_to "New application", new_application_path %>
<%= link_to "Go back", organizations_path %>
<%= link_to "Log Out", organizations_path %>

<div class="max-w-7xl mx-auto mt-12">
  <%= render "custom_view", apps: @apps %>
</div>
