<p style="color: green"><%= notice %></p>

<%= render @application %>

<div>
  <%= link_to "Edit this application", edit_application_path(@application) %> |
  <%= link_to "Back to applications", applications_path %>

  <a href="javascript:showhide('confirmation')">
    Destroy this application
  </a>

  <div id="confirmation" style="display:none;">
    <p> Are you sure? </p>
      <br/>  
    <%= button_to "Confirm", @application, method: :delete %>
      
    <a href="javascript:showhide('confirmation')">
      Cancel
    </a>
  </div>
</div>



<script type="text/javascript">
  function showhide(id) {
    var e = document.getElementById(id);
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
  }
</script>