<%= form_with(model: appcat) do |form| %>
  <% if appcat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appcat.errors.count, "error") %> prohibited this appcat from being saved:</h2>

      <ul>
        <% appcat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :appcatID, style: "display: block" %>
    <%= form.number_field :appcatID %>
  </div>

  <div>
    <%= form.label :categoryID, style: "display: block" %>
    <%= form.number_field :categoryID %>
  </div>

  <div>
    <%= form.label :applicationID, style: "display: block" %>
    <%= form.number_field :applicationID %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
