<p style="color: green"><%= notice %></p>

<%= render @appcat %>

<div>
  <%= link_to "Edit this appcat", edit_appcat_path(@appcat) %> |
  <%= link_to "Back to appcats", appcats_path %>

  <%= button_to "Destroy this appcat", @appcat, method: :delete %>
</div>
