<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="forminputbox">
    <%= form.label :user_id, class: "label" %>
    <%= form.number_field :user_id %>
  </div>

  <div class="forminputbox">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name %>
  </div>

  <div class="forminputbox">
    <%= form.label :username, class: "label" %>
    <%= form.text_field :username %>
  </div>

  <div class="forminputbox">
    <%= form.label :password, class: "label" %>
    <%= form.text_field :password %>
  </div>

  <div class="forminputbox">
    <%= form.label :is_admin, class: "label" %>
    <%= form.check_box :is_admin %>
  </div>

  <div class="formsubmit">
    <%= form.submit %>
  </div>
<% end %>
