<div id="<%= dom_id user %>">
  <p>
    <strong>Userid:</strong>
    <%= user.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Isadmin:</strong>
    <%= user.is_admin %>
  </p>

</div>
