<div id="<%= dom_id user %>" class="rendertext">
  <p>
    <strong>User id:</strong>
    <%= user.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= user.is_admin %>
  </p>

</div>
