<div id="<%= dom_id contact %>">
  <p>
    <strong>Personid:</strong>
    <%= contact.personID %>
  </p>

  <p>
    <strong>Orgid:</strong>
    <%= contact.orgID %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= contact.year %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Officerposition:</strong>
    <%= contact.officerposition %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact.description %>
  </p>

</div>
