<div id="<%= dom_id contact %>">
  <p>
    <strong>Contactid:</strong>
    <%= contact.contact_id %>
  </p>

  <p>
    <strong>Organizationid:</strong>
    <%= contact.organization_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= contact.year %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Officerposition:</strong>
    <%= contact.officer_position %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact.description %>
  </p>

</div>
