<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="forminputbox">
    <%= form.label :contact_id, class: "label" %>
    <%= form.number_field :contact_id %>
  </div>

  <div class="forminputbox">
    <%= form.label :year, class: "label" %>
    <%= form.date_field :year %>
  </div>

  <div class="forminputbox">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name %>
  </div class="forminputbox">

  <div class="forminputbox">
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email %>
  </div>

  <div class="forminputbox">
    <%= form.label :officer_position, class: "label" %>
    <%= form.text_field :officer_position %>
  </div class="forminputbox">

  <div class="forminputbox">
    <%= form.label :description, class: "label" %>
    <%= form.text_field :description %>
  </div>

  <div class="formsubmit">
    <%= form.submit%>
  </div>
<% end %>
