<p style="color: green"><%= notice %></p>

<%= button_to 'Scrape', scrape_student_orgs_path %>

<h1>Student orgs</h1>

<div id="student_orgs">
  # <% @student_orgs.each do |student_org| %>
  #   <%= render student_org %>
  #   <p>
  #     <%= link_to "Show this student org", student_org %>
  #   </p>
  # <% end %>
</div>

<%= link_to "New student org", new_student_org_path %>
