<p style="color: green"><%= notice %></p>

<%= button_to 'Scrape', scrape_student_orgs_path %>

<h1>Student orgs</h1>

<div id="studentorgs">
  <% @studentorgs.each do |studentorg| %>
    <%= studentorg.name %>
    <p>
      <%= link_to "Show this student org", student_orgs_url %>
    </p>
  <% end %>
</div>

<%= link_to "New student org", student_orgs_url %>
