<p style="color: green"><%= notice %></p>

<%= render @student_org %>

<div>
  <%= link_to "Edit this student org", edit_student_org_path(@student_org) %> |
  <%= link_to "Back to student orgs", student_orgs_path %>

  <%= button_to "Destroy this student org", @student_org, method: :delete %>
</div>
