<table>
    <thead class="bg-gray-800 text-white">
        <tr>
            
            <th>
                Exclude
            </th>
            <% if @displayed_columns.include?("Organization Name") then %>
                <th>
                    Organization Name
                </th>
            <% end %>
            <% if @displayed_columns.include?("Contact Name") then %>
                <th>
                    Contact Name
                </th>
            <% end %>
            <% if @displayed_columns.include?("Contact Email") then %>
                <th>
                    Contact Email
                </th>
            <% end %>
            <% if @displayed_columns.include?("Officer Position") then %>
                <th>
                    Officer Position
                </th>
            <% end %>
            <% if @displayed_columns.include?("Last Modified") then %>
                <th>
                    <div>
                        Start Date
                    </div>
                    <div>
                        End Date
                    </div>
                </th>
            <% end %>
            <% if @displayed_columns.include?("Applications") then %>
                <th>
                    <div>
                        App Count <=
                    </div>
                    <div>
                        App Count >=
                    </div>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-left py-3 px-6">
                Include All
            </td>
            <% if @displayed_columns.include?("Organization Name") then %>
                <td class="text-left py-3 px-6">
                    <div id="name_search" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :name,
                            placeholder: "Organization",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Contact Name") then %>
                <td class="text-left py-3 px-6">
                    <div id="contact_name_search" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :contact_name,
                            placeholder: "Contact Name",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Contact Email") then %>
                <td class="text-left py-3 px-6">
                    <div id="contact_email_search" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :contact_email,
                            placeholder: "Email",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Officer Position") then %>
                <td class="text-left py-3 px-6">
                    <div id="contact_officer_position_search" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :officer_position,
                            placeholder: "Officer Position",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Last Modified") then %>
                <td class="text-left py-3 px-6">
                    <div id="contact_date_start" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :date_start,
                            placeholder: "Start Date",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                    <div id="contact_date_end" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :date_end,
                            placeholder: "End Date",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>
            <% if @displayed_columns.include?("Applications") then %>
                <td class="text-left py-3 px-6">
                    <div id="app_count_start" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :count_start,
                            placeholder: "App Count >=",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                    <div id="app_count_end" class="flex justify-end mb-1">
                        <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form" } do |form| %>
                            <%= form.text_field :count_end,
                            placeholder: "App Count <=",
                            class: "border border-blue-500 rounded p-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
                            %>
                        <% end %>
                    </div>
                </td>
            <% end %>

        </tr>
    </tbody>
</table>

<%= form_tag add_table_entry_organizations_path, method: :post do %>
    <%= label_tag :org_name, "Enter Organization Name:" %>
    <%= text_field_tag :org_name, params[:org_name] %>

    <%= label_tag :contact_name, "Enter Contact Name:" %>
    <%= text_field_tag :contact_name, params[:contact_name] %>

    <%= label_tag :contact_email, "Enter Contact Email:" %>
    <%= text_field_tag :contact_email, params[:contact_email] %>

    <%= label_tag :officer_position, "Enter Officer Position:" %>
    <%= text_field_tag :officer_position, params[:officer_position] %>

    <%= submit_tag "Submit" %>
<% end %>


<h1>Check which columns to include. All columns are included by default.</h1>
<%= form_tag display_columns_organizations_path, method: :post do %>
    <% @columns.each do |column| %>
      <div class="form-check form-switch">
        <%= check_box_tag "columns[]", column, @displayed_columns.include?(column), class: "form-check-input", id: "column-#{column}" %>
        <%= label_tag "column-#{column}", column, class: "form-check-label" %>
      </div>
    <% end %>
    <%= submit_tag "Save exclude columns", class: "btn btn-primary" %>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% elsif @displayed_columns.empty? %>
  <p>No columns selected.</p>
<% else %>
    <%= form_tag organizations_path, method: :get, id: "organization-form" do %>
        <div id="save-exclude" style="display:none">
            <%= submit_tag "Save exclude orgs?" %>
        </div>
        <%= turbo_frame_tag "organizations", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>
            
            <table class="min-w-full bg-white">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th id="exclude" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Exclude
                        </th>

                        <% if @displayed_columns.include?("Organization Name") then %>
                            <th id="organization-organization_name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "organizations.name" %>
                                <%= sort_link(column: "organizations.name", label: "Student Organization") %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Contact Name") then %>
                            <th id="contact-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.name" %>
                                <%= sort_link(column: "contacts.name", label: "Contact Name") %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Contact Email") then %>
                            <th id="contact-email" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.email" %>
                                <%= sort_link(column: "contacts.email", label: "Contact Email") %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Officer Position") then %>
                            <th id="contact-officer_position" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.officer_position" %>
                                <%= sort_link(column: "contacts.officer_position", label: "Officer Position") %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Last Modified") then %>
                            <th id="contact-year" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "contacts.year" %>
                                <%= sort_link(column: "contacts.year", label: "Last Modified") %>
                            </th>
                        <% end %>
                        <% if @displayed_columns.include?("Applications") then %>
                            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                <%= sort_indicator if params[:column] == "applications_count" %>
                                <%= sort_link(column: "applications_count", label: "Applications") %>
                            </th>
                        <% end %>
                        <th id="delete" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Delete
                        </th>
                        <th id="edit" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                            Edit
                        </th>
                    </tr>
                </thead>

                <tbody class="text-gray-700">
                        <% orgs.each do |org| %>
                            <% if !check_param(org['organization_id']) %>
                                <% if $not_filtered_out && !$not_filtered_out.include?(org['organization_id']) %>
                                    <% $not_filtered_out.push(org['organization_id']) %>
                                <% end %>
                                <tr org-id='<%= org['organization_id'] %>', con-id='<%= org['contact_id'] %>', con-org-id='<%= org['contact_organization_id'] %>'>
                                    <td class="text-left py-3 px-6"><%= check_box_tag "organizations_ids[]", org['organization_id'], check_param(org['organization_id']), class: "exclude-checkbox" %></td>
                                    <% @displayed_columns.each do |column| %>
                                        <% case column %>
                                        <% when "Organization Name" %>
                                            <td id="org_name", data-column="org_name", contenteditable='true', class="text-left py-3 px-6"><%= org['org_name'] %></td>
                                        <% when "Contact Name" %>
                                            <td id="contact_name", data-column="contact_name", contenteditable='true', class="text-left py-3 px-6"><%= org['contact_name'] %></td>
                                        <% when "Contact Email" %>
                                            <td id="contact_email", data-column="contact_email", contenteditable='true', class="text-left py-3 px-6"><%= org['email'] %></td>
                                        <% when "Officer Position" %>
                                            <td data-column="officer_position", contenteditable='true', class="text-left py-3 px-6"><%= org['officer_position'] %></td>
                                        <% when "Last Modified" %>
                                            <td class="text-left py-3 px-6"><%= org['year'] %></td>
                                        <% when "Applications" %>
                                            <% if org['app_count'] %>
                                                <td class="text-left py-3 px-6">
                                                    <u><%= link_to org['app_count'], applications_path(org_id: org['organization_id']) %></u>
                                                </td>
                                            <% else %>
                                                <td class="text-left py-3 px-6">
                                                    <u><%= link_to org['app_count'], applications_path(org_id: org['organization_id']) %></u>
                                                </td>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                    <td class="text-left py-3 px-6">
                                        <%= link_to "Delete", delete_row_organizations_path(organization_id: org['organization_id'], contact_id: org['contact_id'], contact_organization_id: org['contact_organization_id']) %>
                                    </td>
                                    <td class="text-left py-3 px-6">
                                        <%= link_to "Edit", edit_row_organizations_path, class: "edit-row-link" %>
                                    </td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                </tbody>
                <button onclick="printRowValues()">Print Row Values</button>
            </table>

            <table class="min-w-full bg-white">
                <tbody class="text-gray-700">
                    <% orgs.each do |org| %>
                        <% if check_param(org['organization_id']) %>
                            <% if $not_filtered_out && $not_filtered_out.include?(org['organization_id']) %>
                                <% $not_filtered_out.delete(org['organization_id']) %>
                            <% end %>
                            <tr>
                                <td class="text-left py-3 px-6"><%= check_box_tag "organizations_ids[]", org['organization_id'], check_param(org['organization_id']), class: "exclude-checkbox" %></td>
                                <% @displayed_columns.each do |column| %>
                                    <% case column %>
                                    <% when "Organization Name" %>
                                        <td class="text-left py-3 px-6"><%= org['org_name'] %></td>
                                    <% when "Contact Name" %>
                                        <td class="text-left py-3 px-6"><%= org['contact_name'] %></td>
                                    <% when "Contact Email" %>
                                        <td class="text-left py-3 px-6"><%= org['email'] %></td>
                                    <% when "Officer Position" %>
                                        <td class="text-left py-3 px-6"><%= org['officer_position'] %></td>
                                    <% when "Last Modified" %>
                                        <td class="text-left py-3 px-6"><%= org['year'] %></td>
                                    <% when "Applications" %>
                                        <% if org['app_count'] %>
                                            <td class="text-left py-3 px-6">
                                                <u><%= link_to org['app_count'], applications_path(org_id: org['organization_id']) %></u>
                                            </td>
                                        <% else %>
                                            <td class="text-left py-3 px-6">
                                                <u><%= link_to org['app_count'], applications_path(org_id: org['organization_id']) %></u>
                                            </td>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
    <% end %>
<% end %>

<script>
    var checkboxes = document.querySelectorAll('.exclude-checkbox');
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('click', () => {
            var e = document.getElementById("save-exclude");
            e.style.display = 'block';
        })
    })

    function printRowValues() {
        var rows = document.querySelectorAll('table tbody tr');
        rows.forEach(function(row) {
            var org_id = row.getAttribute('org-id');
            var con_id = row.getAttribute('con-id');
            var con_org_id = row.getAttribute('con-org-id');
            var org_name = row.querySelector('td:nth-child(2)').textContent;
            var con_name = row.querySelector('td:nth-child(3)').textContent;
            var con_email = row.querySelector('td:nth-child(4)').textContent;
            var officer_position = row.querySelector('td:nth-child(5)').textContent;
            console.log(org_id + ', ' + con_id + ', ' + con_org_id + ', ' + org_name + ' ' + con_name);
            $edited_rows[org_id] = {organization_id: org_id, organization_name: org_name, contact_id: con_id, contact_name: con_name, contact_email: con_email, officer_position: officer_position};
        });
    }

    $(document).on('click', '.edit-row-link', function(e) {
        e.preventDefault();

        const myElement = document.getElementById('org_name'); 
        const typedValue = myElement.innerHTML;

        console.log(typedValue)

        // Find the edited row and gather its values
        var $row = $(this).closest('tr');
        var org_id = $row.getAttribute('org-id');
        var con_id = $row.getAttribute('con-id');
        var org_name = $row.find('[data-column="org_name"]').text().trim();
        var contact_name = $row.find('[data-column="contact_name"]').text().trim();
        var contact_email = $row.find('[data-column="contact_email"]').text().trim();
        var officer_position = $row.find('[data-column="officer_position"]').text().trim();

        // Send the values to the controller action using an AJAX request
        $.ajax({
            url: "/organizations/" + org_id + "/edit_row",
            method: 'POST',
            data: {
            organization_id: org_id,
            organization_name: org_name,
            contact_id: con_id,
            contact_name: contact_name,
            contact_email: contact_email,
            officer_position: officer_position
            }
        });
    });
</script>