<table>
    <thead class="bg-gray-800 text-white">
        <tr>
            
            <th>
                Exclude
            </th>
            <th>
                Organization Name
            </th>
            <th>
                Contact Name
            </th>
            <th>
                Contact Email
            </th>
            <th>
                Officer Position
            </th>
            <th>
                <div>
                    Start Date
                </div>
                <div>
                    End Date
                </div>
            </th>
            <th>
                <div>
                    App Count <=
                </div>
                <div>
                    App Count >=
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-left py-3 px-6">
                Include All
            </td>
            <td>
                <div id="name_search" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :name,
                        placeholder: "Organization",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_name_search" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :contact_name,
                        placeholder: "Contact Name",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_email_search" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :contact_email,
                        placeholder: "Email",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_officer_position_search" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :officer_position,
                        placeholder: "Officer Position",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
            <td>
                <div id="contact_date_start" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :date_start,
                        placeholder: "Start Date",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
                <div id="contact_date_end" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :date_end,
                        placeholder: "End Date",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>

            <td>
                <div id="app_count_start" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :count_start,
                        placeholder: "App Count >=",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
                <div id="app_count_end" class="flex justify-end mb-1">
                    <%= form_with url: list_organizations_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "organizations" } do |form| %>
                        <%= form.text_field :count_end,
                        placeholder: "App Count <=",
                        class: "border border-blue-500 rounded p-2",
                        autocomplete: "off",
                        data: { action: "input->search-form#search" }
                        %>
                    <% end %>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<%= turbo_frame_tag "organizations", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>

    <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
        <tr>
            <th id="exclude" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                Exclude
            </th>

            <th id="organization-organization_name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "organizations.name" %>
                <%= sort_link(column: "organizations.name", label: "Student Organization") %>
            </th>

            <th id="contact-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.name" %>
                <%= sort_link(column: "contacts.name", label: "Contact Name") %>
            </th>

            <th id="contact-email" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.email" %>
                <%= sort_link(column: "contacts.email", label: "Contact Email") %>
            </th>

            <th id="contact-officer_position" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.officer_position" %>
                <%= sort_link(column: "contacts.officer_position", label: "Officer Position") %>
            </th>

            <th id="contact-year" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "contacts.year" %>
                <%= sort_link(column: "contacts.year", label: "Last Modified") %>
            </th>
            <th id="appplications" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                <%= sort_indicator if params[:column] == "applications_count" %>
                <%= sort_link(column: "applications_count", label: "Applications") %>
            </th>
        </tr>
        </thead>

        <tbody class="text-gray-700">

        <%= form_tag organizations_path, method: :get, remote: true, id: "organization-form" do %>
            <div id="save-exclude" style="display:none;">
                <%= submit_tag "Save changes?" %>
            </div>

            <% orgs.each do |org| %>
                <% if !check_param(org['organization_id']) %>
                    <tr>
                        <td class="text-left py-3 px-6"><%= check_box_tag "organizations_ids[]", org['organization_id'], check_param(org['organization_id']), class: "exclude-checkbox" %></td>
                        <td class="text-left py-3 px-6"><%= org['org_name'] %></td>
                        <td class="text-left py-3 px-6"><%= org['contact_name'] %></td>
                        <td class="text-left py-3 px-6"><%= org['email'] %></td>
                        <td class="text-left py-3 px-6"><%= org['officer_position'] %></td>
                        <td class="text-left py-3 px-6"><%= org['year'] %></td>

                        <% if org['app_count'] %>
                            <td class="text-left py-3 px-6">
                                <u><%= link_to org['app_count'], applications_path(org_id: org['organization_id']) %></u>
                            </td>
                        <% else %>
                        <td class="text-left py-3 px-6">
                            <u><%= link_to org['app_count'], applications_path(org_id: org['organization_id']) %></u>
                        </td>
                        <% end %>

                        <!-- ... -->
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        </tbody>
    </table>
<% end %>

<script>
    var checkboxes = document.querySelectorAll('.exclude-checkbox');
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('click', () => {
            var e = document.getElementById("save-exclude");
            e.style.display = 'block';
        })
    })
</script>