<nav class="bg-tamuMaroon sticky-nav">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between max-h-nav">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= button_to "Update Site", scrape_organizations_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
            <div class="dropdown bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium">
              <button class="dropbtn">Delete All</button>
              <div class="dropdown-content class: bg-tamuButton text-white rounded-md px-4 py-2 text-lg font-medium">
                <p>Are you sure, this will delete everything?</p>
                <%= button_to "Confirm", delete_organizations_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
              </div>
            </div>
            <%= link_to "Download Page", download_organizations_path(format: :xlsx),  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
            <%= link_to "Create New Entry", new_organization_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
            <%= link_to "Help", "/help",  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
            <%= link_to "Log Out", destroy_admin_session_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
            <div class="dropdown bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium">
            <button class="dropbtn">Additional Tables</button>
            <div class="dropdown-content class: bg-tamuButton text-white rounded-md px-4 py-2 text-lg font-medium">
              <%= link_to "Organizations", organizations_path,  class: "bg-tamuButton text-white rounded-md px-4 py-4 text-lg font-medium" %>
              <%= link_to "Applications", applications_path,  class: "bg-tamuButton text-white rounded-md px-6 py-4 text-lg font-medium" %>
           </div>
            </div>
            <a class="navbar-brand" href="https://brandguide.tamu.edu/assets/img/logos/tam-logo-white.png">
              <div class="logo-image">
                    <img src="https://brandguide.tamu.edu/assets/img/logos/tam-logo-white.png" class="img-fluid">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<body>
<div class="navpadding"></div>

<p class="notice"><%= notice %></p>

<h1>Do you want to exclude any columns to save resources?</h1>

<%= form_tag organizations_path(format: :xlsx), :method => 'get' do %>
  <div class="checkbox">
    <td>
      <%= label_tag(:param_name1, "Exclude Organization IDs") %>
      <%= check_box 'param_name1', 'excludeOrgID', {:id => "param_name1"}, 1, 0 %>
      </br>
      <%= label_tag(:param_name2, "Exclude Student Organization Names") %>
      <%= check_box 'param_name2', 'exclude_orgname', {:id => "param_name2"}, 1, 0 %>
      </br>
      <%= label_tag(:param_name3, "Exclude Contact Names") %>
      <%= check_box 'param_name3', 'exclude_contactname', {:id => "param_name3"}, 1, 0 %>
      </br>
      <%= label_tag(:param_name4, "Exclude Contact Emails") %>
      <%= check_box 'param_name4', 'exclude_contactemail', {:id => "param_name4"}, 1, 0 %>
      </br>
      <%= label_tag(:param_name5, "Exclude Officer Position") %>
      <%= check_box 'param_name5', 'exclude_officer', {:id => "param_name5"}, 1, 0 %>
      </br>
      <%= label_tag(:param_name6, "Exclude Last Modified Date") %>
      <%= check_box 'param_name6', 'exclude_date', {:id => "param_name6"}, 1, 0 %>
      </br>
      <%= label_tag(:param_name7, "Exclude Number of Apps Built") %>
      <%= check_box 'param_name7', 'exclude_appnum', {:id => "param_name7"}, 1, 0 %>
      </br>
      </br>
    </td>
  </div>
  <%= submit_tag "Download as CSV" %>
<% end %>

</br>
<%= link_to "Go Back", organizations_path  %>
