<p style="color: green"><%= notice %></p>

<% if @organizations.count != 0 %>
  <% org = @organizations.first %>
  <h3><%= org.description %></h3>
<% end %>

<%= link_to "Log Out", destroy_admin_session_path %>
<%= button_to 'Update', scrape_organizations_path %>
<%= button_to 'Delete', delete_organizations_path %>
<%= link_to 'Download as CSV', exclude_organizations_path %>
<%= link_to "New organization", new_organization_path %>

<h1>Organizations</h1>

<div class="max-w-7xl mx-auto mt-12">
  <%= render "custom_view", orgs: @orgs %>
</div>
