<p style="color: green"><%= notice %></p>

<%= button_to 'Scrape', scrape_organizations_path %>
<%= button_to 'Delete', delete_organizations_path %>

<h1>Organizations</h1>

<div id="organizations">
  <% @organizations.each do |organization| %>
    <%= render organization %>
    <p>
      <%= link_to "Show this organization", organization %>
    </p>
  <% end %>
</div>

<%= link_to "New organization", new_organization_path %>
